
@media only screen and (max-width: 1320px) {
    body{
        display: none;
    }
}
body{
    background-color: rgb(153, 184, 50);
    z-index: -1;
}
#load{
    display: flex;
    width: 95vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
}
#loading
{
    height: 90vh;
    width: auto;
}   
.nav{
    display: flex;
    justify-content: center;
}
#navtext{
    font-size: 2rem;
    color: rgb(110, 28, 172);
}
#up{
    display: flex;
    justify-content: space-between;
}
#protagonist{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}
#protagonist-name{
    font-size: 1.25rem;
    color: brown;
}
#red{
    width: 6.25rem;
    height: auto;
}

#antagonist{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}
#antagonist-name{
    font-size: 1.25rem;
    color: rgb(51, 96, 186);
}
#blue{
    width: 5.625rem;
    height: auto;
}

#battle{
    width: 50.625rem;
    position: relative;
    top:0rem;
    display: flex;
}

#battle_area{
    background-image: url('../assets/battle_bg.gif');
    background-size:cover;
    width: 800px;
    height: 31.25rem;
    position: absolute;
    display: flex;
    border: black 2px solid;
}

#antiPokemon{
    position:relative;
    top: 7.5rem;
    left: 37.5rem;
    width: 6.25rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: rgb(238, 229, 229) 2px solid; */
}

#antiPokemon:hover #antiPokemon-img{
    animation: antiattack 2s ease-in-out;
}

#protPokemon{
    position:relative;
    top: 15.625rem;
    left: 6.25rem;
    width: 6.25rem;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: rgb(238, 229, 229) 2px solid; */
}
#protPokemon:hover #protPokemon-img{
    animation: protattack 2s ease-in-out;
}

 #protPokemon-name{
    text-transform: capitalize;
 }
 #antiPokemon-name{
    text-transform: capitalize;
 }

#upPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 15.625rem;
}
#downPokemon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:15.625rem;
}
#battletext{
    color:rgb(78, 25, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5625rem;
    width: 50rem;
    height: 5rem;
    position : absolute;
    border: black 2px solid;
    background-color: rgb(149, 169, 193);
}
.pokebox1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: black 2px solid;
    background-color: rgb(149, 193, 155);
    border-radius: 10%;
}
.pokename1{
    text-transform: capitalize;
}
.pokebox2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: black 2px solid;
    background-color: rgb(149, 193, 155);
    border-radius: 10%;
}
.pokename2{
    text-transform: capitalize;
}

.movebox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: black 2px solid;
    width: 23.75rem;
    height: 3.125rem;
    color: rgb(42, 116, 165);
    background-color: rgb(221, 209, 216);
    opacity: 0.95;
    border-radius: 5px;
}
.movebox :hover{
    cursor: pointer;
}
.moveboxname{
    text-transform: capitalize;
    font-size: 1.25rem;
    color: brown;
}
#protPokemon-moves{
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    flex-wrap: wrap;
    width: 50rem;
    top: 34.375rem;
    /* border: rgb(224, 13, 13) 2px solid; */
}
#hp1cover{
    border: black 3px solid;
    width: 5rem;
    height: 0.625rem;
}

#hpbar1{
    display: flex;
    background-color: rgb(14, 82, 44);
    height: 0.625rem;
}
#hp2cover{
    border: black 3px solid;
    width: 5rem;
    height: 0.625rem;
}
#hpbar2{
    display: flex;
    background-color: rgb(14, 82, 44);
    height: 0.625rem;
}

@keyframes protattack{
    0%{
        transform: translate(0rem, 0rem);
    }
    50%{
        transform: translate(24rem, -6rem);
    }
    100%{
        transform: translateX(0rem, 0rem);
    }   
}
@keyframes antiattack{
    0%{
        transform: translate(0rem, 0rem);
    }
    50%{
        transform: translate(-24rem, 6rem);
    }
    100%{
        transform: translateX(0rem, 0rem);
    }   
}
